# Model Configuration
model:
  name: "SimpleMLP"

  # Architecture
  input_dim: <depend on data>   
  hidden_dims: [8, 8]
  output_dim: 2

  # Regularization
  dropout: 0.1

  # Activation
  hidden_act: "ReLU"

  # Initialization
  initializer: "default" 

# Training configuration
training:
  optimizer: "Adam"
  learning_rate: 0.0005
  weight_decay: 1e-4
  loss_function: "NLLLoss"
  epochs: 200
  runs: 5
  seed: 44

# Task specific parameters
task:
  num_labels: 2
  problem_type: "single_label_classification"

# Evaluation metrics
evaluation:
  metrics: ["f1_macro", "roc_auc"]
